body {
    
    background-image: url("../img/wheeloffortune.jpg");
}

#header{

    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150x;
    width: 80%;

}

#letters a{
    color: red;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

#letters a:hover{
    color: green;
}

#letters a .d{
    color: blue;
}

.underscores{

    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150x;
    width: 80%;

}

.rightguess{
    
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150x;
    width: 80%;

}

.wrongguess{
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150x;
    width: 80%;


}